body {
    background-image:url('scale_1200.jpg');
;

    background-position: center;
    background-position:unset ;
    background-size: cover;
    background-attachment: fixed;
} 

p{


    padding: 10px 15px;
    margin: 3% 45% 0 3%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 20px;
}

h1{

    padding: 10px 15px 15px;
    margin: 3% 45% 0 3%;
    color:rgb(255, 218, 218);
    font-size: 60px;

}
h2{


    padding: 10px 15px 15px;
    margin: 3% 45% 0 3%;
    color:rgb(255, 218, 218);
    font-size: 50px;


}

ol{
    padding: 10px 15px;
    margin: 3% 45% 0 3%;
    background-color: rgb(103, 255, 82);
    color: rgb(255, 255, 255);
    font-size: 15px;



}
ol li{
    padding: 10px 15px;
    margin: 3% 45% 0 3%;
    background-color: rgb(171, 255, 160);
    color: rgb(0, 0, 0);
    font-size: 15px;
    

}